<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.mauriciotogneri.tpgwear"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".app.TpgWear"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/app_theme">

        <activity
            android:name=".activities.FavoriteStopsActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".activities.StopCatalogueActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name=".services.WearableService">

            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER"/>
            </intent-filter>

        </service>

    </application>

</manifest>